* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 100%;
    top: 0;
    height: 50px;
    background-color: #777;
    position: fixed;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    width: 100%;
    background-color: #777;
    margin: auto auto 0 auto;
    padding: 10px;
}

.logo {
    height: 25px;
}

ul {
    display: flex;
    background-color: #777;
    overflow: hidden;
    padding-right: 30px;
}

li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:first-child {
    margin-right: auto;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

.large {
    width: 48%;
    height: 350px;
    background-color: #777;
    border: 1px #777 solid;
    margin-top: 17px;
    margin-bottom: 30px;
    float: left;
}

.small {
    width: 48%;
    height: 159px;
    background-color: #777;
    border: 1px #777 solid;
    float: right;
    padding: 30px;
}

.header {
    width: 100%;
    background-color: #777;
    clear: both;
    text-align: center;
    margin-bottom: 30px;
}

h1, p {
    padding: 10px;
}

.columns, .tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.column {
    flex: 1;
    background-color: #777;
    margin-right: 10px;
    padding: 25px;
    text-align: center
}

.column:nth-child(3), .tab:nth-child(4) {
    margin-right: 0;
}

.tab {
    flex: 1;
    background-color: #777;
    margin-top: 30px;
    margin-right: 1px;
    padding: 15px;
    text-align: center
}

.paragraph {
    width: 100%;
    background-color: #777;
    margin-top: 1px;
    padding: 20px;
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .paragraph, .tab, .column, .header, .small, .large, ul, footer, nav {
        background-color: blue;
    }

    nav ul {
        display: none;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .paragraph, .tab, .column, .header, .small, .large, ul, footer, nav {
        background-color: red;
    }

    .hamburger {
        display: none;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .paragraph, .tab, .column, .header, .small, .large, ul, footer, nav {
        background-color: orange;
    }
} 